@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
  width: 80%;
  position: absolute;
  padding-top: 56px;
  margin-left: 180px;

}
/* блок skidka+knopka на сайте */

#top {
  width: 1839px;
  background-image: url(https://sun9-60.userapi.com/c850608/v850608978/1618a1/lbUBNLDmxWI.jpg);
  background-color: #F8F8F8;
  background-size:cover;
  float:center;
  color: #fff;
  display:block;
  margin: auto;
  border-radius:20px;
}

  #top {
    font-size: 2.8em;
    height: 1000px;
  }

#top h2 {
  padding-top: 20%;
  font-weight:bolder;
  margin-left:162px;
}

#top h4{
margin-left:162px;
}

a.button10 {
  display: inline-block;
  color: #FFFFFF;
  font-size: 80%;
  text-decoration: none;
  padding: .25em .5em;
  border-radius: 45px;
  background: #E8B81A;
   margin-left:162px;
  margin-top:71px;
} 
/* Блок с преимуществами */

#overview {
  float:left;
  background-color: #f8f8f8;
  background-size: cover;
  background-attachment: fixed;
  padding: 64px 0;
  width: 100%;
  color: #fff;
}

#overview h2 {color: #70544F;float:left;
  font-weight:bolder;
  margin-left:182px;
  }

.main_sir{
    display: flex;
	width: 532px;
	height: 156px;
	background: #FFFFFF;
	  line-height: 20px;
	  margin-top:64px;
	  margin-left:180px;
}


.sir p{
    margin-left: 32px;
    font-weight: normal;
    color: #70544F;
    font-size: 14px;
}

.sir span{
	margin-left: 30px;
    font-weight: bold;
    color: #70544F;
    font-size: 21px;
}


.sir{
    margin-top: 32px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
}

.main_test{
    display: flex;
	width: 532px;
	height: 156px;
	background: #FFFFFF;
	  line-height: 20px;
	  margin-top:64px;
	  margin-left:180px;
}


.test p{
    margin-left: 32px;
    font-weight: normal;
    color: #70544F;
    font-size: 14px;
}

.test span{
	margin-left: 30px;
    font-weight: bold;
    color: #70544F;
    font-size: 21px;
}


.test{
    margin-top: 32px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
}

.main_sous{
    display: flex;
	width: 532px;
	height: 156px;
	background: #FFFFFF;
	  line-height: 20px;
	  margin-left:728px;
	  margin-top:-376px;
}


.sous p{
    margin-left: 32px;
    font-weight: normal;
    color: #70544F;
    font-size: 14px;
}

.sous span{
	margin-left: 30px;
    font-weight: bold;
    color: #70544F;
    font-size: 21px;
}


.sous{
    margin-top: 32px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
}

.main_ingr{
    display: flex;
	width: 532px;
	height: 156px;
	background: #FFFFFF;
	  line-height: 20px;
	  margin-left:728px;
	  margin-top:45px;
	  margin-bottom:100px;
}


.ingr p{
    margin-left: 32px;
    font-weight: normal;
    color: #70544F;
    font-size: 14px;
}

.ingr span{
	margin-left: 30px;
    font-weight: bold;
    color: #70544F;
    font-size: 21px;
}


.ingr{
    margin-top: 32px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
}

.img{
margin-top:26.38px;
margin-left: 20px;
}



/* Блок с контактами */
#contacts {
     width: 1890px;
     height:642px;
  background-image: url(https://sun9-56.userapi.com/c206824/v206824934/c9e51/P6fzhoz_NCM.jpg);
  background-color: #F8F8F8;
  background-size:cover;
  float:center;
  color: #fff;
  display:block;
  margin: auto;
}



#form_input {
    font-size: 1.1em;
    width: 532px;
    height: 520px;
    background: #FBCD5A;
    border-radius:20px;
    margin-left: 960px;
    margin-top:80px;
}


#form_input label {
  color: #505050;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
  margin-left:40px;
  margin-top:68px;
}

#form_input label > span {
  color: #e87e7e;
}

#form_input input{
margin-left:40px;
}

#form_input input,#form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid silver;
  background-color:#FBCD5A;
  font-size: 0.9em;
  border-color: #ffffff;
}

#form_input input:focus, #form_input textarea:focus {
  border-color: #fff;
  
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: #ec6550;
  text-shadow: #454545 0 0 2px;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: #c15443;
}

a.button1 {
  width:141px;
  height:48px;
  display: inline-block;
  text-align:center;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  padding: .25em .5em;
  border-radius: 45px;
  background: #009471;
   margin-left:40px;
  margin-top:24px;
  line-height:-30px;
  
} 

/* Вопросы и ответы */

#faq {
  background-color: #fff;
  border-top: 2px dashed #e4e3e3;
  width: 100%;
  float: left;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 801px) {
  #faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
  }
}

@media (max-width: 800px) {
  #faq div {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

#faq .title {
  font-weight: lighter;
  color: #a3a0ad;
  margin-bottom: 20px;
  font-size: 2.2em;
}

#faq .heading {
  color: #7d7d7d;
  font-size: 1.3em;
  font-weight: bold;
}

#faq p {
  font-family: Arimo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4a4a4a;
  font-size: 0.95em;
  margin-bottom: 40px;
}

nav{
    margin-top: 40px;
    margin-left: 39%;
}

.topnav a{
    color: #70544F;
    padding: 0 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold ;
}

.topnav .icon{
    display: none;
}

